@page
@model LoginModel

@{
    ViewData["Title"] = "Fix My Curls Login";
}

<div class="card shadow border-0 mt-4 mb-4">
    <div class="card-header bg-secondary bg-gradient m-lg-0 py-4">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="py-2 text-white">Join Now & Get 10% Off Your First Order</h2>
                <p class="text-white">Unlock Superior Discounts</p>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row">
            <div class="col-md-12">
                <section>
                    <form id="account" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                        <div class="form-floating mb-3">
                            <input asp-for="Input.Email" class="form-control" autocomplete="tel" aria-required="true" placeholder="Enter Mobile Number" />
                            <label asp-for="Input.Email" class="form-label">Mobile Number</label>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-check mb-3">
                            <input type="checkbox" class="form-check-input" id="updatesCheck" />
                            <label class="form-check-label" for="updatesCheck">Notify me for updates & offers</label>
                        </div>
                        <div class="mb-3">
                            <button id="whatsapp-login" type="button" class="w-100 btn btn-lg btn-success">
                                <i class="bi bi-whatsapp"></i> WhatsApp Login
                            </button>
                        </div>
                        <small class="text-muted d-block mt-2">
                            I accept that I have read & understood Gokwik's <a href="#">Privacy Policy</a> and <a href="#">T&Cs</a>.
                        </small>
                        <div class="mt-3">
                            <a href="#">Trouble logging in?</a>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
