@model List<Testimonial>

<partial name="_Notification" />
<div class="card shadow border-0 " style="margin-bottom:70px !important;">
    <div class="card-header  bg-warning mt-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-primary">Testimonial List</h2>
            </div>
        </div>
      
    </div>
    <div class="col-12 text-end mt-2">
        <a asp-controller="Testimonial" asp-action="Upsert" class="btn btn-success">
            <i class="bi bi-plus-circle-fill"></i>  Create New Testimonial
        </a>
    </div>
    <div class="card-body p-2 ">
        <table id="tblData" class="table table-bordered table-striped" style="width:100%;">
            <thead>
                <tr>
                    <th>
                        Client Name
                    </th>
                    <th>
                       Message
                    </th>
               @*      <th>
                        Description
                    </th> *@

                    <th>
                        Client Image
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
            </thead>
        </table>
    </div>
</div>
       

@section Scripts{
    <script src="~/js/testimonial.js"></script>
}